# --------------------
# Node modules
# --------------------
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# --------------------
# Testing
# --------------------
/coverage

# --------------------
# Next.js / frontend
# --------------------
/.next/
/out/
/build
.next-env.d.ts

# --------------------
# Production
# --------------------
*.pem

# --------------------
# Debug
# --------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --------------------
# Environment files
# --------------------
#.env.prod
#$.env.dev


# --------------------
# Vercel
# --------------------
.vercel

# --------------------
# Mac / misc
# --------------------
.DS_Store
