@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');
@import "tailwindcss";
@tailwind utilities;

body {
  background-color: var(--background);
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

  font-family: 'Marhey', sans-serif !important;
}

/* Glavne boje */
.baltazarBlue {
  @apply text-[#3483B8]; /* plava */
}
.baltazarPurple {
  @apply bg-[#6B4FBB]; /* ljubičasta */
}
.baltazarGray {
  @apply bg-[#F7F8FA]; /* svijetla siva */
}
